$handle: "form";

.#{$handle} {
	@include space($spacing-md);
	@include pad($spacing-sm);
	max-width: $max-width-xl;
	margin: 0 auto;

	@media (min-width: $screen-sm-min) {
		@include space($spacing-md);
	}

	> nav {
		width: 100%;
		margin-bottom: $spacing-md;
		text-align: right;
	}

	> form {
		display: block;
		max-width: $max-width-md;
		margin: 0 auto;

		> fieldset {
			position: relative;

			> label {
				display: block;
				margin-top: $spacing-sm;
				margin-bottom: $spacing-xs;
			}

			> input,
			> textarea {
				display: block;
				width: 100%;
			}

			> em {
				@include font("body-xs");
				@include absolute(auto, $spacing-xs, $spacing-xs, auto);
				color: red;
			}
		}

		> [type="submit"] {
			margin-top: $spacing-md;
		}
	}
}
