$handle: "view";

.#{$handle} {
	@include space($spacing-md);
	@include pad($spacing-sm);
	max-width: $max-width-xl;
	margin: 0 auto;

	@media (min-width: $screen-sm-min) {
		@include space($spacing-md);
	}

	> nav {
		width: 100%;
		margin-bottom: $spacing-md;
		text-align: right;
	}

	> h2,
	> h4,
	> p {
		max-width: $max-width-md;
		margin: 0 auto;
	}

	> h2 {
		@include font("heading-md");
		color: $color-white;

		> small {
			@include font("body-sm");
			display: inline-block;
			vertical-align: middle;
			margin-left: $spacing-xs;
			color: $color-fg-gray-md;
			text-transform: uppercase;
		}
	}

	> h4 {
		@include font("body-sm");

		> small {
			@include font("body-xs");
			text-transform: uppercase;
		}
	}

	> p {
		margin-top: $spacing-xs;
		padding-top: $spacing-xs;
		border-top: 1px solid $color-br-gray-lt;
	}
}
