{{ define "content" }}
	<article>
		<header class="heading">
			<h1>{{ .book.Title }}</h1>
		</header>
		{{ if .book.IsCheckedOut }}
			<section class="view">
				<nav>
					<form method="post" action="/books/check-in">
						{{ .csrfField }}
						<input id="title" type="hidden" name="id" value="{{ .book.ID }}" />
						<input type="submit" value="Check In" />
					</form>
				</nav>
				<h2>{{ .book.Title }} <small>({{ .book.ISBN }})</small></h2>
				<h4><small>Written By:</small> {{ .book.Author }}</h4>
				<p>{{ .book.Description }}</p>
			</section>
		{{ else }}
			{{ $bookFormID := uniqueID }}
			{{ $formHandle := "book-form" }}
			<section id="{{ $bookFormID }}" class="form">
				<nav>
					<form method="post" action="/books/check-out">
						{{ .csrfField }}
						<input id="title" type="hidden" name="id" value="{{ .book.ID }}" />
						<input type="submit" value="Check Out" />
					</form>
				</nav>
				<form method="post" action="/books/{{ .book.ID }}" class="{{ $formHandle }}">
					{{ .csrfField }}
					<input id="title" type="hidden" name="id" value="{{ .book.ID }}" />
					<fieldset>
						<label required for="title">Title</label>
						<input id="title" type="text" name="title" value="{{ .book.Title }}" />
					</fieldset>
					<fieldset>
						<label required for="author">Author</label>
						<input id="author" type="text" name="author" value="{{ .book.Author }}" />
					</fieldset>
					<fieldset>
						<label required for="isbn">ISBN</label>
						<input id="isbn" type="text" name="isbn" value="{{ .book.ISBN }}" />
					</fieldset>
					<fieldset>
						<label for="description">Description</label>
						<textarea id="description" name="description" maxlength="255">{{ .book.Description }}"</textarea>
					</fieldset>
					<input type="submit" value="Update Book" />
				</form>

				<script>
					window[{{ .env.SITE_HANDLE }}].components.push({
						handle: "book-form",
						id: "{{ $bookFormID }}",
						formHandle: ".{{ $formHandle }}"
					});
				</script>
			</section>
		{{ end }}
		<section class="log">
			<h2>Activity</h2>
			{{ if not .events }}
				<p>No events for this book</p>
			{{ else }}
				<ol>
					{{ range .events }}
						<li>
							<h3>{{ .Title }}</h3>
							<time datetime="{{ .PrettyTime }}">
								{{ .PrettyTime }}
							</time>
						</li>
					{{ end }}
				<ol>
			{{ end }}
		</section>
	</article>
{{ end }}
