{{ define "content" }}
	<article>
		<header class="heading">
			<h1>Add a Book</h1>
		</header>

		{{ $bookFormID := uniqueID }}
		<section id="{{ $bookFormID }}" class="form">
			<form method="post" action="/books/add">
				{{ .csrfField }}
				<label for="title">Title</label>
				<input required id="title" type="text" name="title" />
				<label for="author">Author</label>
				<input required id="author" type="text" name="author" />
				<label for="isbn">ISBN</label>
				<input required id="isbn" type="text" name="isbn" />
				<label for="description">Description</label>
				<input required id="description" type="text" name="description" />
				<input type="submit" value="Add Book" />
			</form>

			<script>
				window[{{ .env.SITE_HANDLE }}].components.push({
					handle: "book-form",
					id: "{{ $bookFormID }}"
				});
			</script>
		</section>
	</article>
{{ end }}
